.blippress-multi {
	overflow: hidden;
}

.blippress-image-multi {
	float: left;
	margin: 0 20px 20px 0;
}

.blippress-image-multi-small {
	margin: 0 10px 10px 0;
}

.admin-color-mp6 .blippress-image-multi a {
	border: 4px dashed #eee;
	display: block;
}

.admin-color-mp6 .blippress-image-multi-small a {
	border-width: 2px;
}

.admin-color-mp6 .postbox .blippress-image-multi a {
	border-color: #fff;
}

.admin-color-mp6 .blippress-image-multi a:hover {
	border-color: #333;
}

.blippress-image-multi img {
	display: block;
}