#blippress-this-spinner {
	float: left;
}

.blippress-this-details {
	overflow: hidden;
}

.blippress-this-thumb {
	float: left;
	margin-right: 20px;
	padding-top: 10px;
}

.blippress-status {
	color: white;
	font-weight: bold;
	padding: 5px;
}

.blippress-status a {
	color: white;
}

.blippress-success {
	background-color: green;
}

.blippress-error {
	background-color: red;
}

