.blippress-image-control {
	border: 1px dashed #aaa;
	padding: 20px 0;
	text-align: center;
}

.blippress-image-control.has-image {
	border: 1px dashed #aaa;
	padding: 10px;
	text-align: left;
}

.blippress-image-control img {
	display: block;
	height: auto;
	margin-bottom: 10px;
	max-width: 100%;
}

#blippress-this-spinner {
	float: left;
}

.blippress-this-details {
	overflow: hidden;
}

.blippress-this-thumb {
	float: left;
	margin-right: 20px;
	padding-top: 10px;
}

.blippress-status {
	color: white;
	font-weight: bold;
	padding: 5px;
}

.blippress-status a {
	color: white;
}

.blippress-success {
	background-color: green;
}

.blippress-error {
	background-color: red;
}

